html, body, * {
    margin: 0;
    padding: 0;

    font-family: "Ubuntu Mono Ligaturized";
    font-size: 20px;
    font-weight: 300;
    font-style: normal;

    background-color: #000;
    color: #fff;

    text-decoration: none;
    filter: none;
    animation: none;
    transition: .2s;
}
html::selection, body::selection, *::selection {
    background-color: #fff;
    color: #000;
}

.black { color: #000; }
.red { color: #f00; }
.green { color: #0f0; }
.blue { color: #00f; }
.yellow { color: #ff0; }
.magenta { color: #f0f; }
.cyan { color: #0ff; }
.white { color: #fff; }

.on-black { background-color: #000; }
.on-red { background-color: #f00; }
.on-green { background-color: #0f0; }
.on-blue { background-color: #00f; }
.on-yellow { background-color: #ff0; }
.on-magenta { background-color: #f0f; }
.on-cyan { background-color: #0ff; }
.on-white { background-color: #fff; }

.sgr0 { font-weight: 300; }
.bold { font-weight: 700; }
.dim { font-weight: 100; }
.sitm { font-style: italic; }
.smul { text-decoration: underline; }
.blink { animation: blink .8s step-start infinite; }
.rev { filter: invert(100%); }
.smxx { text-decoration: line-through; }

@keyframes blink {
    50% {
        color: #000;
        ::selection {
            color: #000;
        }
    }
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 2ch;
    padding: 1ch;
}
